body {
    margin: 0;
    height: 100vh;

    background-image: url("../img/Porquinho\ de\ cerâmica\ e\ moedas\ douradas.png");
    background-size: cover;     
  
    display: flex;
    justify-content: center;
    align-items: center;     
  
    background: linear-gradient(135deg, #0f2f2f, #3F8978);
  }

  .card {
    background: #E0FFC3;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
  }

    .card {
        position: relative;
        z-index: 1;
      }

  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
  }
  
  input:focus {
    border: 1px solid #25E4BC;
    box-shadow: 0 0 5px #25E4BC;
  }

  button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
  
    background: linear-gradient(135deg, #AEF055, #25E4BC);
    border: none;
    border-radius: 10px;
  
    font-size: 16px;
    font-weight: 600;
    color: #0f2f2f;
  
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* HOVER (efeito quando passa o mouse) */
  button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }